.menu {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 5px;
}



.menu a {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	overflow: hidden;
	height: 50px;
	transition: 0.3s;
}

.menu a:hover, .offcanvas a:focus {
	color: #f1f1f1;
}

.menu

.menu .fecharMenu {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px){
	.menu {
		padding-top: 15px;
	}

	.menu a {
		font-size: 18px;
	}
}